dataset/frames/
dataset/patches/
dataset/videos/
coco/annotations/
coco/images/
coco/segmentations/
coco/segmentations_filtered/
.venv/
venv/
instance_segmentation/checkpoints/
image_translation/datasets/
image_translation/checkpoints/
image_translation/results/