dataset/frames/
dataset/patches/
dataset/videos/
coco/annotations/
coco/images/
coco/segmentations/
coco/segmentations_filtered/
.venv/
venv/
**/*.pth
image_translation/datasets/
image_translation/results/